
*{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 2*$paddingVal $paddingVal;
    background-color: $veryLightGray;
    margin: auto;
    max-width: 800px;

    &.active{
        overflow: hidden;
    }
}


p{
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: $grayishBlue;
}

.container{
    padding: $paddingVal;
    margin-bottom: $marginVal;
    background-color: $white;
    border-radius: $borderRadius;
}